body {
    background-color: #F5F5F5;
    /* background: #ACE url("../img/main.jpg") no-repeat fixed center center */
}

p {
    font-size: 18px;
}

#ip-box {
    font-size: 21px;
    margin-right: 10px;
}

.application {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    padding: 5px;
    margin: 10px;
    background-color: #F9F9F9;
}

.app-top {
    border-bottom: 1px solid #DDD;
}

.application * {
    padding: 3px;
}

.btn {
    background-color: #FFF;
    color: #000;
}
