body {
    background: url("../img/bg-placeholder.png") no-repeat fixed center center;
    min-height: 100%;
    margin: 0;
    color: #EEE;
    font-size: 16px;
}

html {
    height: 100%;
    margin: 0;
}

.jumbo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 300px;
    padding: 50px;
}

.jumbo h1 {
    font-size: 55px;
}

.jumbo p {
    font-size: 20px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.70);
    margin: 0;
    width: 100%;
    height: 100%;
}

.container {
    padding-top: 20px;
}

.content {
    width: 80%;
}

.navbar {
    padding-bottom: 4px;
    border: none;
    background: none;
}

.navbar-default .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #CCC;
    font-size: 18px;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover, .navbar-nav>li>a.active{
    color: #EEE;
    border-bottom: 1px solid #FF733B;}

p {
    font-size: 18px;
}

.ip-and-app-button {
    height: 100px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ip-box {
    font-size: 21px;
    margin-right: 10px;
}

#ip {
    border-radius: 4px 0px 0px 4px;
    border-right: 0;
}

.application {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    padding: 5px;
    margin: 10px;
    background-color: #F9F9F9;
}

.app-top {
    border-bottom: 1px solid #DDD;
}

.application * {
    padding: 3px;
    color: #222;
}

.btn {
    background-color: #FFF;
    color: #000;
}

#form-errors {
    border-radius: 2px;
    margin-bottom: 20px;
    padding: 5px;
}

ol {
    font-size: 18px;
}
